node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Ignore .env files in all directories
**/.env

# Ignore node_modules directories in all directories
**/node_modules